<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel='shortcut icon' href='https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG' type='image/x-icon'/ >
</head>
<body>

<header>
  <img src="./assets/pokedex-header.png" alt="pokedex">
  <div></div>
</header>


  <%= yield %>

</body>
</html>
